h1 {

font-size: 5em;
margin: 0;
transition: color 0.5s;
color: #00D8A7;

}

h1:hover{
    color: #808080;
    cursor: pointer;
}

h3 {

font-size: 2em;
}

img {

height: 10em;
    
}

footer {
    
margin-top:10em;

}